@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
#my-Garden-container{
    margin-top: 10px;
    @include flexCenter();
    width: 100%;
}
#my-garden-content {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid lightgray 1px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    min-width: 600px;
    min-height: 350px;
}
#my-garden-options{
    @include flexCenter();
    justify-content: space-between;
}

#plants-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px);
    justify-content: center;
    margin: 10px;
}
.plant-card {
    h5{
        margin: 2px 0 0 0;
    }
    img {
        border-radius: 20px;
        margin: 2px 0 0 0;
    }
    @include flexCenter();
    position: relative;
    margin: 10px 0 0 0;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(171, 200, 171), white);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(83, 82, 82, 0.319);
    &:hover {
        border: 1px solid;
        border-color: green;
    }
}
//////////     C H E C K   B O X     //////////

input[type="checkbox"] {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    position: absolute;
    top: 1px;
    left: 1px;
    &:checked{
        background-color: rgb(190, 60, 60);
    }
    &:checked::before{
    font-family:Arial, Helvetica, sans-serif;
    content: "X";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 18px;
    }
  }
  
//////////     S E A R C H   B A R     //////////
#search-bar-and-count{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    #plants-counter{
        color: white;
    }
}  
#search-bar {
    border: 0;
    border-radius: 0 5px 5px 0;
    margin: 0 10px 0 0;
    &:focus {
        outline: none;
    }
  }
  #search-bar-left{
    border: none;
    background-color: rgb(0, 150, 0);
    border-radius: 5px 0 0 5px;
    width: 20px;
    &:focus {
        outline: none;
        caret-color: transparent;
    }
  }
  

  
