#add-plant-form{
    text-align: center;
}


.form-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0px 0;
}
.error-span{
    position: absolute;
    color: red;
    font-size: small;
    right: 15%;
}