@use '../../mixin.scss';
.my-garden-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 60px);

    background: mixin.$container-background-color;
}
#my-garden-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
}

#plants-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-template-rows: repeat(auto-fill, 160px);
    min-height: 80vh;
    border-radius: 10px;
}
#my-garden-buttons {
    @include mixin.flexCenter();
    justify-content: flex-start;
    gap: 0.7rem;
    flex-wrap: wrap;
}
  
//////////     S E A R C H   B A R     //////////
#search-bar-and-count{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    #plants-counter{
        color: mixin.$dark-color;
    }
}  
.search-bar-container {
    display: flex;
}

#search-input {
    border: 0;
    border-radius: 0 5px 5px 0;
    margin: 0 10px 0 0;
    &:focus {
        outline: none;
    }
  }
  #search-bar-left{
    border: none;
    background: mixin.$dark-green-color;
    border-radius: 5px 0 0 5px;
    width: 20px;
    @include mixin.flexCenter();
    img{
        padding: 2px;
        width: 15px;
        height: 15px;
    }
  }
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
//////////////////                               ///////////////////
//////////////////      R E S P O N S I V E      ///////////////////
//////////////////                               ///////////////////
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  /// 


///////////////////////////      800 PX      ///////////////////////////
@media screen and (max-width: 800px) {

#my-garden-options {
    @include mixin.flexCenter();
    flex-direction: column;
    width: 95%;
}

#my-garden-buttons {
    justify-content: center;
    align-items: center;
    width: 95%;
}
#search-bar-and-count{
    @include mixin.flexCenter();
    justify-content: flex-start;
    width: 95%;
    padding: 5px 0 5px 0;
    #plants-counter{
        color: mixin.$dark-color;
        text-align: center;
        padding: 5px 0 5px 0;
    }
}
#plants-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-template-rows: repeat(auto-fill, 160px);
    justify-content: center;


}

#search-bar-and-count{ 
    justify-content: space-between;
}
}

///////////////////////////      400 PX      ///////////////////////////
  
@media screen and (max-width: 400px) {

    #search-bar-and-count{ 
        gap: 10px;
        flex-direction: column-reverse;
    }
}