@use '../../mixin.scss' as mixin;
.dropdown-container {
    display: flex;
    z-index: 100;
    cursor: pointer;
    gap: 5px;
    width: max-content;
    position: relative;
}
.dropdown-li {
    display: flex;
    position: relative;
    color: mixin.$dark-color;
    cursor: pointer;
    white-space: nowrap;
    gap: 4px;
    width: max-content;
    &:hover > span{
        width: 100%;
    }
}
.dropdown-span {
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 0;
    background-color: mixin.$dark-green-color;
    transition: width 0.3s ease;
}
.dropdown-chevron {
    width: 20px;
    stroke: mixin.$dark-color;
}
.dropdown-ul-container {
    position: absolute;
    top: 100%;
    width: 100%;
    transform: translate(-100%);
}
.dropdown-transparent-gap {
    background: transparent;
    width: 200%;
    height: 10px;
}
.dropdown-ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: auto;
    background: white;
    padding: 20px;
    top: 100%;
    gap: 10px;
    border-radius: 20px;
    @include mixin.shadow();
}