@use '../../mixin';
.images-and-result {
    @include mixin.flexCenter();
}
.image-to-identify {
    margin: 0 10px 10px 0;
    cursor: pointer;
}
.identified-plant {
    margin: 0 0 0 10px;
    font-size: 24px;
}
#selected-profile-image {
    border: 5px solid  rgb(0, 150, 0);
}