@use '../../mixin';
.identify-plant-container {
    background: mixin.$container-background-color;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.identify-plant-options{
    width: 90%;
    color: mixin.$dark-color;
    padding: 10px 0;
    border-radius: 10px; 
    @include mixin.shadow();
}
.identify-constraints, .page-subheader{
    line-height: 1.6;
}
.identify-plant-text {
    padding: 20px 0 20px 30px;
    width: max-content;
}
.form-container{
    color: mixin.$dark-color;
    width: 90%;
    border-radius: 10px;
    padding: 0 0 20px 0;
    @include mixin.shadow();
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.image-select-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.images-and-result {
    @include mixin.flexCenter();
    flex-wrap: wrap;
}
.image-to-identify {
    margin: 0 10px 10px 0;
    cursor: pointer;
}
.identified-plant {
    margin: 0 0 0 10px;
    font-size: mixin.$desktop-sm-font-size;
}
#selected-profile-image {
    border: 5px solid  rgb(0, 150, 0);
}
.footer-message{
    text-align: left;
    color: mixin.$dark-color;
    width: 85%;
    padding: 10px 0 10px 10px;
    font-size: mixin.$desktop-sm-font-size;
}

.a{
    color: mixin.$dark-color;
    text-decoration: underline;
    &:hover{
      color: mixin.$dark-green-color;
    }
  }
//////////////////      R E S P O N S I V E      //////////////////
@media screen and (max-width: 800px) {

    .identify-plant-options {
        @include mixin.flexCenter();
        flex-direction: column;
        text-align: center;
    }
    .identified-plant {
        margin: 0 0 0 0px;
        font-size: mixin.$desktop-md-font-size;
    }

    .identify-constraints, .page-subheader{
        text-align: left;
    }
    .images-and-result {
        @include mixin.flexCenter();
        flex-wrap: wrap;
        width: 100%;
    }
    
}