@use '../../mixin.scss' as mixin;
.update-images-date {
    margin: 0.5rem 1rem;
    background-color: mixin.$light-green-color;
    width: max-content;
    padding: 5px 10px;
    border-radius: 10px;
}
.all-update-images-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px 20px 20px;
}
.update-image-container {
    max-width: 800px;
}
.update-image {
    width: 100%;
    height: auto;
}

.image-view-scroll-buttons-container {
    position: sticky;
    width: 100%;
    left: 10rem;
    top: 0.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.image-view-scroll-button {
    margin: 0.5rem;
    background-color: rgba(mixin.$light-color, 0.7);
    border: 0.5px solid transparent;
    outline: none;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 0.2rem;
    &:hover {
        cursor: pointer;
        border: 0.5px solid mixin.$light-green-color
    }
}


///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
//////////////////                               ///////////////////
//////////////////      R E S P O N S I V E      ///////////////////
//////////////////                               ///////////////////
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  

@media screen and (max-width: 800px) {
    .update-images-date {
        font-size: mixin.$font-size-sm;
        margin: 0.5rem 0.5rem;
    }
}
@media screen and (max-width: 500px) {
    .all-update-images-container {
        padding: 0px 2px 2px 2px;
        gap: 2px;
    }
    .update-images-modal-container{
        padding: 0 10px;
    }
}