@use '../../mixin.scss';

  
.logo{
  margin: 0 10px 0 0;
  width: 20px;
  height: 20px;
  transition: scale 0.3s ease;
  &:hover {
    scale: 120%;
  }
}

#details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
}
.tool-li {
  @include mixin.flexCenter();
}
.about-header {
    font-size: mixin.$font-size-lg;
}
.about-sub-header {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.contact-container {
  @include mixin.flexCenter();
  gap: 15px;
}
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
//////////////////                               ///////////////////
//////////////////      R E S P O N S I V E      ///////////////////
//////////////////                               ///////////////////
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
@media screen and (max-width: 600px) {
  #details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  }

  .about-header {
      font-size: mixin.$font-size-md;
  }
}