@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 30px 40px 10px 20px;
    z-index: 500;
    @include flexCenter();
    border-radius: 10px;
    border: solid 0.5px lightgray;
    color: black;
    .x-button {
        background-color: rgb(193, 62, 62);
        color: rgb(245, 241, 241);
        border: none;
        border-radius: 5px;
        position: absolute;
        left: 5px;
        top: 5px;
        &:hover {
            background-color: rgb(180, 0, 0)
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}