@use '../../mixin.scss';
.modal {
    position: fixed;
    @include mixin.transformTranslate50();
    @include mixin.secondary-scrollbar();
    background-color: #FFF;
    padding: 30px 20px 10px 20px;
    z-index: 500;
    max-height: 85%;
    max-width: 80%;
    overflow-y: auto;
    border-radius: 10px;
    color: black;
    .x-button {
        background-color: rgb(193, 62, 62);
        color: rgb(245, 241, 241);
        border: none;
        border-radius: 5px;
        position: absolute;
        right: 5px;
        top: 5px;
        &:hover {
            background-color: rgb(180, 0, 0);
            cursor: pointer;
        }
}
.modal-content{
    @include mixin.flexCenter();
    padding: 5px 0 5px 0;
}
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
//////////////////      R E S P O N S I V E      //////////////////
@media screen and (max-width: 800px) {
    .modal {
        width: 90%;
    }
}