@use '../../mixin.scss' as mixin;

#home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.secondary-home-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.home-text {
  padding-top: 150px;
  z-index: 100;
  width: max-content;
  line-height: 1.6;
  color: mixin.$dark-color;
  .here-you-can{
    position: relative;
    font-size: mixin.$desktop-lg-font-size;
    margin-bottom: 20px;
    padding-left:20px;
    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      width: 30px;
      height: 4px;
      background-color: mixin.$gray-color;
    }
  }
}
.sentence-container {
  font-size: mixin.$desktop-xl-font-size;
  width: max-content;
  display: flex;
  gap: 0.5rem;
  .sentence-svg {
    width: 1.2rem;
  }
  &:hover > .sentence-svg {
    animation: rotateAnimation 1s infinite;
    fill: mixin.$dark-green-color;
  }
  .sentence-text {
    color: mixin.$dark-color;
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.discover-button-container {
  width: 100%;
  padding: 40px 0 0 0;
  @include mixin.flexCenter();
}
.discover-button {
  padding: 10px 25px;
  background: transparent;
  border: 1px solid mixin.$gray-color;
  font-size: mixin.$desktop-md-font-size;
  border-radius: 5px;
  &:hover {
    color: mixin.$dark-green-color;
    border-color: mixin.$dark-green-color;
    cursor: pointer;
  }
}
.home-img-main-container{
  background-color: antiquewhite;
  position: relative;
  width: max-content;
  height: 100%;
}

.green-img-bg{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -30.5rem;
  left: -27rem;
  width: 450px;
  height: 500px;
  background: rgb(195, 237, 224);
  border-radius: 0 0px 200px 225px;

}

#img3 {
  position: absolute;
  top: 83px;
  right: -10px;
  width: 500px;

}


//////////////////      R E S P O N S I V E      //////////////////
@media screen and (max-width: 800px) {
  
}