@use '../../mixin.scss';
*{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

  body { 
    @include mixin.main-scrollbar();
    margin: 0;
    padding: 0;
    background: mixin.$container-background-color;
    min-width: 250px
  }

#contact-container {
  @include mixin.flexCenter();
  justify-content: flex-start;
  background-color: white;
  height: 15px;
}
.contact-ul{
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  li{
    @include mixin.flexCenter();
    margin: 0 5px 0 5px;
    padding: 0;
    h6{
      margin: 0;
      font-weight: 100;
    }
  }

}
.contact-logo{
  width: 10px;
  height: 10px;
}

header {
  @include mixin.flexCenter();
  width: 100%;
}
.header-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.navbar-logo {
  margin-right: 10px
}
.app-name {
  @include mixin.flexCenter();
  z-index: 100;
  color: mixin.$dark-color;
  font-size: x-large;
  font-weight: 600;
  letter-spacing: 1px;
}
.nav-container {
  position: relative;
  display: flex;
  padding: 0;
}
.nav-link {
  display: flex;
  z-index: 100;
  width: max-content;
  margin: 0 5px 0 5px;
  color: mixin.$dark-color;
  font-size: mixin.$font-size-md;
  &:hover {
    cursor: pointer;
  }
  &:hover::before{
    cursor: pointer;
    background-color: mixin.$dark-green-color;
  }
  &::before {
    content: '';
    background-color: mixin.$gray-color;
    width: 2px;
    height: 18px;
    margin: 0 10px 0 0;
    transition: background-color 0.4s;
  }
}
.sticky-logo {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

.page-header {
  font-size: mixin.$font-size-lg;
  font-weight: mixin.$font-weight-lg;
  margin-bottom: 1rem;;
}
.page-subheader {
  font-size: mixin.$font-size-md
}

@mixin basicMobileMenuButton {
  color: mixin.$dark-color;
  background: transparent;
  padding: 2px;
  border: 1px solid transparent;
  border: none;
  font-size: mixin.$font-size-lg;
  position: absolute;
  z-index: 100;
  transition: color 0.4s;
  &:hover {
    color: mixin.$dark-green-color;
    cursor: pointer;
  }
}
.mobile-menu-button-home {
  @include basicMobileMenuButton();
  top: 8px;
}
.not-home-page-menu-button-container {
  display: flex;
  justify-content: center;
  
}
.mobile-menu-button-not-home{
  @include basicMobileMenuButton();
  bottom: 5px;
  right: 0px;
}
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
//////////////////                               ///////////////////
//////////////////      R E S P O N S I V E      ///////////////////
//////////////////                               ///////////////////
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  

///////////////////////////      1100 PX      ///////////////////////////
@media screen and (max-width: 1100px) {
  .header-content {
    width: 90%;
    position: relative;
  }
  .page-header {
    font-size: mixin.$font-size-md;
  }
  .page-subheader {
    font-size: mixin.$font-size-sm
  }
  .app-name {
    @include mixin.flexCenter();
    letter-spacing: 0.5px;
  }
}


///////////////////////////      1000 PX      ///////////////////////////
@media screen and (max-width: 1000px) {
  .app-name {
    font-size: mixin.$font-size-md;
  }
}