@use '../../mixin.scss';
*{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

  body { 
    @include mixin.main-scrollbar();
    margin: 0;
    padding: 0;
    background: url('/assets/palm.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
  }

#contact-container {
  @include mixin.flexCenter();
  justify-content: flex-start;
  background-color: white;
  height: 15px;
}
.contact-ul{
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  li{
    @include mixin.flexCenter();
    margin: 0 5px 0 5px;
    padding: 0;
    h6{
      margin: 0;
      font-weight: 100;
    }
  }

}
.contact-logo{
  width: 10px;
  height: 10px;
}


  h1 {
    margin: 0 0 0 0;
    font-size: mixin.$desktop-lg-font-size;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
  }

  header {
    @include mixin.flexCenter();
    justify-content: space-around;
    padding: 5px 0 5px 0;
  }
  #logo-container{
    @include mixin.flexCenter();
    #page-logo{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 10px;
      
    }
  }
  .nav-container {
    display: flex;
    padding: 0;
  }
  .nav-link {
    display: flex;
    margin: 0 5px 0 5px;
    color: white;
    &:hover{
      cursor: pointer;
      color: rgb(200 , 200, 200);
      &::before {
        background: rgb(0,150,0);
      }
    }
    &::before {
      content: '';
      background: lightgray;
      width: 1.5px;
      height: 15px;
      margin: 0 10px 0 0;
    }
  }
///////////////   appearance in multiple pages   ///////////////

.a{
  color: white;
  text-decoration: underline;
  &:hover{
    color: rgba(0,255,0,0.8);
  }
}

///////////////   A B O U T   ///////////////
  
.logo{
  margin: 0 10px 0 0;
  width: 20px;
  height: 20px;
}

#details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.tool-li {
  @include mixin.flexCenter();
  margin: 3px 0;
}
.page-header {
  font-size: mixin.$desktop-lg-font-size;
  width: max-content;
}
.page-subheader {
  font-size: mixin.$desktop-md-font-size
}
.desktop-menu-button {
  color: white;
  background: transparent;
  border: 0;
  font-size: mixin.$desktop-lg-font-size;
}
.mobile-menu-button {
  color: white;
  background: transparent;
  border: none;
  font-size: mixin.$desktop-lg-font-size;
}
//////////////////      R E S P O N S I V E      //////////////////
@media screen and (max-width: 800px) {

  .mobile-nav-container {
    width: 100%;
    display: grid;
    gap: 10px;
    padding: 0 0 0 10px;
  }
  .mobile-nav-link {
    display: flex;
    font-size: mixin.$desktop-lg-font-size;
    color: black;
    width: max-content;
    &:hover{
      cursor: pointer;
      color: rgb(0,150,0);
      &::before {
        background: rgb(200,200,200);
      }
    }
    &::before {
      content: '';
      background: rgb(0,150,0);
      width: 1.5px;
      height: 20px;
      margin: 0 10px 0 0;
    }
  }
  .page-header {
    font-size: mixin.$desktop-md-font-size;
  }
  .page-subheader {
    font-size: mixin.$desktop-sm-font-size
  }
}