@use '../../mixin.scss';
*{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

  body { 
    @include mixin.main-scrollbar();
    margin: 0;
    padding: 0;
    background: mixin.$container-background-color;
  }

#contact-container {
  @include mixin.flexCenter();
  justify-content: flex-start;
  background-color: white;
  height: 15px;
}
.contact-ul{
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  li{
    @include mixin.flexCenter();
    margin: 0 5px 0 5px;
    padding: 0;
    h6{
      margin: 0;
      font-weight: 100;
    }
  }

}
.contact-logo{
  width: 10px;
  height: 10px;
}

header {
  @include mixin.flexCenter();
  width: 100%;
  // box-shadow: 0px 5px 10px rgb(0,0,0, 0.2);
}
.header-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

#page-logo{
  width: 35px;
  height: 35px;
  margin-right: 3px;
  
}
.app-name {
  @include mixin.flexCenter();
  z-index: 100;
  color: mixin.$dark-color;
  font-size: x-large;
  font-weight: 600;
  letter-spacing: 1px;
}
.nav-container {
  position: relative;
  display: flex;
  padding: 0;
}
.nav-link {
  display: flex;
  z-index: 100;
  margin: 0 5px 0 5px;
  color: mixin.$dark-color;
  font-size: mixin.$desktop-md-font-size;
  &:hover::before{
    cursor: pointer;
    background-color: rgb(0,150,0);
  }
  &::before {
    content: '';
    background-color: lightgray;
    width: 2px;
    height: 18px;
    margin: 0 10px 0 0;
    transition: background-color 0.4s;
  }
}
#sticky-logo {
  position: fixed;
  right: 5px;
  bottom: 5px;
}
///////////////   A B O U T   ///////////////
  
.logo{
  margin: 0 10px 0 0;
  width: 20px;
  height: 20px;
}

#details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.tool-li {
  @include mixin.flexCenter();
  margin: 3px 0;
}
.page-header {
  font-size: mixin.$desktop-lg-font-size;
  width: max-content;
}
.page-subheader {
  font-size: mixin.$desktop-md-font-size
}

@mixin basicMobileMenuButton {
  color: mixin.$dark-color;
  background: transparent;
  padding: 2px;
  border: 1px solid transparent;
  border: none;
  font-size: mixin.$desktop-lg-font-size;
  position: absolute;
  z-index: 100;
  &:hover {
    scale: 110%;
    cursor: pointer;
  }
}
.mobile-menu-button-home {
  @include basicMobileMenuButton();
  top: 8px;
}
.not-home-page-menu-button-container {
  display: flex;
  justify-content: center;
  
}
.mobile-menu-button-not-home{
  @include basicMobileMenuButton();
  top: 28px;
}
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
//////////////////                               ///////////////////
//////////////////      R E S P O N S I V E      ///////////////////
//////////////////                               ///////////////////
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  


///////////////////////////      1000 PX      ///////////////////////////
@media screen and (max-width: 1000px) {
  .app-name {
    font-size: mixin.$desktop-md-font-size;
  }
}
///////////////////////////      1100 PX      ///////////////////////////
@media screen and (max-width: 1100px) {
  .header-content {
    width: 95%;
  }
  .mobile-nav-container {
    width: 100%;
    display: grid;
    gap: 10px;
    padding: 0 0 0 10px;
  }
  .mobile-nav-link {
    display: flex;
    font-size: mixin.$desktop-md-font-size;
    color: black;
    width: max-content;
    &:hover{
      cursor: pointer;
      &::before {
        background: rgb(0,150,0);
      }
    }
    &::before {
      content: '';
      background: rgb(200,200,200);
      width: 1.5px;
      height: 20px;
      margin: 0 10px 0 0;
    }
  }
  .page-header {
    font-size: mixin.$desktop-md-font-size;
  }
  .page-subheader {
    font-size: mixin.$desktop-sm-font-size
  }
  .app-name {
    @include mixin.flexCenter();
    letter-spacing: 0.5px;
  }
}
