@use '../../../mixin.scss' as mixin;
#home-section-1 {
  width: 100%;
  min-height: calc(100dvh - 55px);
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.secondary-home-container{
  position: relative;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.home-text {
  position: relative;
  margin-top: 30px;
  padding: 20px 120px;
  z-index: 100;
  width: max-content;
  color: mixin.$dark-color;
  @include mixin.flexCenter();
  flex-direction: column;
  &::before {
    content: '';
    position: absolute;
    top: 140px;
    left: -120px;
    width: 330px;
    height: 3px;
    background: mixin.$green-background-color;
    border-radius: 2px;
  }
}
.main-purpose {
  width: max-content;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 1.4px;
  white-space: normal;
  font-size: mixin.$font-size-5xl;
}
.main-purpose-span {
  position: relative;
  color: mixin.$light-color;
  white-space: nowrap;
  &::before{
    content: '';
    position: absolute;
    top: -10;
    left: -8px;
    letter-spacing: 1.6px;
    transform: skew(-0.05turn, 2deg);
    z-index: -1;
    background-color: mixin.$dark-green-color;
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border-radius: 20px;
  }
}

#discover-button-container {
  opacity: 0;
  width: max-content;
  padding: 40px 0 0 0;
  display: flex;
  gap: 12px;
  @include mixin.flexCenter();
  flex-direction: column;
  transition: opacity 1.3s ease 2.2s;
}
#discover-button-container.final {
  opacity: 1;
}
$duration: 0.6s;
.discover-button {
  @include mixin.flexCenter();
  gap: 5px;
  padding: 10px 25px;
  width: max-content;
  color: mixin.$dark-color;
  background: mixin.$light-color;
  border-top: 2px solid mixin.$gray-color;
  border-right: 2px solid mixin.$gray-color;
  border-bottom: 2px solid mixin.$gray-color;
  border-left: 2px solid mixin.$gray-color;
  font-size: mixin.$font-size-md;
  border-radius: 5px;
  transition: color 0.5s,
  border-top-color $duration,
  border-right-color calc(2 * $duration),
  border-bottom-color calc(3 * $duration),
  border-left-color calc(4 * $duration),
    ;
  &:hover {
    color: mixin.$dark-green-color;
    border-top-color: mixin.$dark-green-color;
    border-right-color: mixin.$dark-green-color;
    border-bottom-color: mixin.$dark-green-color;
    border-left-color: mixin.$dark-green-color;
    cursor: pointer;
  }
}
.chevron {
  width: 18px;
}
.desktop-home-main-img-container{
  position: relative;
  width: max-content;
  height: 100%;
}

#green-img-bg{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -200px;
  opacity: 0;
  right: -0.7rem;
  width: 450px;
  height: 600px;
  background: mixin.$green-background-color;
  border-radius: 0 0px 200px 225px;
  transition: opacity 1.3s ease, top 1.3s ease;
}
#green-img-bg.final {
  top: -10px;
  opacity: 1;
}

#home-main-img {
  position: absolute;
  top: 182px;
  right: -10px;
  width: 500px;

}
  
  #decorative-container-1 {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    right: -300px;
    width: 850px;
    height: 450px;
    border-left: 3px solid mixin.$green-background-color;
    border-top: 3px solid mixin.$green-background-color;
    border-radius: 9000px;
  
  }
  #decorative-container-2 {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    right: -300px;
    width: 800px;
    height: 400px;
    border-left: 3px solid mixin.$green-background-color;
    border-top: 3px solid mixin.$green-background-color;
    border-radius: 9000px;
  }
  #decorative-container-3 {
    position: absolute;
    z-index: -1;
    bottom: 100px;
    left: -400px;
    width: 400px;
    height: 100px;
    border-radius: 10px 225px 225px 10px ;
    background-color: mixin.$green-background-color;
    opacity: 0;
    transition: left 1.5s ease, opacity 1.5s ease-in;
    img {
      position: absolute;
      right: -20px;
      top: -150px;
      width: 160px;
    }
  }
  #decorative-container-3.final {
    left: -100px;
    opacity: 1;
  }
  
  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
  //////////////////                               ///////////////////
  //////////////////      R E S P O N S I V E      ///////////////////
  //////////////////                               ///////////////////
  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  
  
  
  //////////////////////////////////////////      1400 PX      ///////////////////////////////////////////
  @media screen and (max-width: 1400px) {
  #home-section-1 {
    width: 100%;
    min-height: calc(100dvh - 55px);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  .secondary-home-section-1 {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .home-text {
    position: relative;
    margin-top: 30px;
    padding: 20px 30px;
    z-index: 100;

    color: mixin.$dark-color;
    &::before {
      content: '';
      position: absolute;
      top: 140px;
      left: -80px;
      width: 200px;
      height: 3px;
      background: mixin.$green-background-color;
      border-radius: 2px;
    }


  }

  .desktop-home-main-img-container{
    position: relative;
    width: max-content;
    height: 100%;
  }

  #green-img-bg{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -200px;
    right: -0.7rem;
    width: 450px;
    height: 600px;
    background: mixin.$green-background-color;
    border-radius: 0 0px 200px 225px;
  }
  #green-img-bg.final {
    top: -10px;
    opacity: 1;
  }
  #home-main-img {
    position: absolute;
    top: 182px;
    right: -10px;
    width: 500px;
  
  }
  #decorative-container-1 {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    right: -300px;
    width: 850px;
    height: 450px;
    border-left: 3px solid mixin.$green-background-color;
    border-top: 3px solid mixin.$green-background-color;
    border-radius: 9000px;
  
  }
  #decorative-container-2 {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    right: -300px;
    width: 800px;
    height: 400px;
    border-left: 3px solid mixin.$green-background-color;
    border-top: 3px solid mixin.$green-background-color;
    border-radius: 9000px;
  }

  ////////////////////////////////////////////////////////////////// decorative-container-3
  #decorative-container-3 {
    position: absolute;
    z-index: -1;
    bottom: 30px;
    left: -400px;
    width: 400px;
    height: 100px;
    border-radius: 10px 225px 225px 10px ;
    background-color: mixin.$green-background-color;
    img {
      position: absolute;
      right: -20px;
      top: -130px;
      width: 140px;
    }
  }
  //////////////////////////////////////////////////////////////////////////////////
}
  
//////////////////////////////////////////      1300 PX      ///////////////////////////////////////////
@media screen and (max-width: 1300px) {
  .home-text {
    position: relative;
    margin-top: 10px;
    padding: 20px 0px;
    z-index: 100;

    color: mixin.$dark-color;
    &::before {
      content: '';
      position: absolute;
      top: 140px;
      left: -60px;
      width: 150px;
      height: 3px;
      background: mixin.$green-background-color;
      border-radius: 2px;
    }
  }
  .main-purpose {
    font-size: mixin.$font-size-4xl;
  }
}
  
//////////////////////////////////////////      1100 PX      ///////////////////////////////////////////
@media screen and (max-width: 1100px) { 
  .home-text {
    position: relative;
    margin-top: 10px;
    padding: 20px 0px;
    z-index: 100;
    width: max-content;
    color: mixin.$dark-color;
    &::before {
      content: '';
      position: absolute;
      top: 140px;
      left: -75px;
      width: 70px;
      height: 3px;
      background: mixin.$green-background-color;
      border-radius: 2px;
    }
  }


  .home-main-img-container{
    position: relative;

  }
  
  #green-img-bg{
    position: absolute;
    width: 150px;
    height: 300px;
    top: -100px;
    background: mixin.$green-background-color;
    border-radius: 0 0px 255px 255px;
  }
  #green-img-bg.final {
    top: -19px;
    opacity: 1;
  }
  
  #home-main-img {
    position: absolute;
    top: 132px;
    right: -5px;
    width: 200px;
  
  }
  .main-purpose {
    font-size: mixin.$font-size-4xl;
  }
}
//////////////////////////////////////////      850 PX      ///////////////////////////////////////////
@media screen and (max-width: 850px) { 
  .main-purpose {
    font-size: mixin.$font-size-xl;
  }
}
//////////////////////////////////////////      650 PX      ///////////////////////////////////////////
@media screen and (max-width: 650px) { 
  .home-text {
    position: relative;
    margin-top: 10px;
    padding: 160px 0px;
    z-index: 100;
    width: 100%;
    @include mixin.flexCenter();
    flex-direction: column;
    color: mixin.$dark-color;
    &::before {
      content: '';
      position: absolute;
      top: 100px;
      left: -90px;
      width: 80%;
      height: 3px;
      background: mixin.$green-background-color;
      border-radius: 2px;
    }
  }
  #decorative-container-1 {
    display: none;
  }
  #decorative-container-2 {
    display: none;
    
  }
  #green-img-bg{
    position: absolute;
    width: 100px;
    height: 200px;
    top: -200px;
    right: 2px;
    background: mixin.$green-background-color;
    border-radius: 0 0px 255px 255px;
  }
  #green-img-bg.final {
    top: -19px;
    opacity: 1;
  }
  #home-main-img {
    position: absolute;
    top: 85px;
    right: -5px;
    width: 137px;
  
  }
  #decorative-container-3 {
    position: absolute;
    z-index: -1;
    bottom: 30px;
    left: -400px;
    width: 400px;
    height: 50px;
    border-radius: 10px 225px 225px 10px ;
    background-color: mixin.$green-background-color;
    img {
      position: absolute;
      right: -20px;
      top: -100px;
      width: 100px;
    }
  }
  #decorative-container-3.final {
    left: -200px;
    opacity: 1;
  }
}