@use '../../mixin.scss';


.plant-timeline-container{
    width: 100%;
    @include mixin.flexCenter();
    background: mixin.$container-background-color;
    flex-direction: column;
    padding: 10px 0 10px 0;
    color: mixin.$dark-color;
}
.plant-timeline-options{
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 5px;
    @include mixin.shadow();
    padding: 10px 20px;
}
#plant-intro{
    width: 450px;
    display: flex;
    margin: 0 0 10px 0;

    .plant-logo{
       margin: 2px;
        width: 120px;
        height: 120px;
        border-radius: 10px;
    }
    #current-plant-details{
        margin: 5px;
        color: mixin.$dark-color;
    }
}
#plant-updates{
    margin: 0 auto 0em;
    max-width: 34.15em;
}
.update-card {
    max-width: 34em;
    padding: 1em 0 1em 0;
    position: relative;
  }
.update-card-subheader {
    @include mixin.flexCenter();
    width: 100%;
    font-size: mixin.$desktop-md-font-size;
    font-weight: mixin.$font-weight-md;
    margin-bottom: 5px;
    gap: 5px;
}

  .update-card:nth-child(odd) {
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translate(17em);
  }
  
  .update-card:nth-child(odd)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  
  .update-card:nth-child(odd) .update-card-content::before {
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em mixin.$dark-green-color;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0.5em;
    border-radius: 50%;
  }
  
  .update-card:nth-child(even) {
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translate(-17em);
  }
  
  .update-card:nth-child(even)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  
  .update-card:nth-child(even) .update-card-content::before {
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em mixin.$dark-green-color;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -0.5em;
    border-radius: 50%;
  }

.update-card-content {
    border: 2px solid #888;
    border-radius: 10px;
    padding: 0.2em 0.5em 0.5em 0.5em;
}

.date-and-edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.info{
    margin: 3px 0 0 0;
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.6fr;
}


.checked-logo{
    width: 13px;
}
@mixin flex-center-start-column{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.update-card-irrigation-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.irrigation-section {
    display: flex;
    flex-direction: column;
    .irrigation-subheader {
        font-weight: mixin.$font-weight-md;
    }
}
.update-card-notes-container{
    @include flex-center-start-column();
    align-items: center;
    max-height: 120px;
    
    .actual-notes {
        @include mixin.secondary-scrollbar();
        overflow-y: auto;
    }
}

.update-card-images-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    .update-image{
        width: 100px;
        border-radius: 5px;
    }
}

select {
    width: 145px;
    border-radius: 5px;
    &:focus {
        outline: none;
    }
}
.update-card-toggle {
    @include mixin.checkboxRemoveToggle();
    top: 5px;
    right: 110px;
}

///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
//////////////////                               ///////////////////
//////////////////      R E S P O N S I V E      ///////////////////
//////////////////                               ///////////////////
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  

///////////////////////////      1000 PX      ///////////////////////////
@media screen and (max-width: 1100px) {
    .plant-timeline-container{
        width: 100%;
        @include mixin.flexCenter();
        background: mixin.$container-background-color;
        flex-direction: column;
        padding: 0;
        color: mixin.$dark-color;
    }
    .plant-timeline-options{
        @include mixin.flexCenter();
        flex-direction: column;
        width: 95%;
        border-radius: 5px;
    @include mixin.shadow();
    padding: 10px 0px;
    margin-bottom: 16px;
    }
    #plant-intro{
        display: flex;
        align-items: flex-start;
        width: 95%;
        .plant-logo{
           margin: 2px;
            width: 100px;
            height: 100px;
            border-radius: 10px;
        }
        #current-plant-details{
            margin: 5px;
            color: mixin.$dark-color;
            font-size: mixin.$desktop-sm-font-size;
        }
    }
    .plant-timeline-buttons {
        width: 95%;
    }
    .select-current-plant {
        width: 95%;
    }
    #plant-updates {
        width: 95%;
    }
    .update-card-subheader {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-size: mixin.$desktop-md-font-size;
        font-weight: mixin.$font-weight-md;
        margin-bottom: 5px;
        gap: 5px;
    }
    #plant-updates .update-card {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    #plant-updates .update-card::before {
        width: 3px;
        height: 2em;
        top: -1em;
        left: 50%;
        transform: translateX(-50%);
    }
    #plant-updates .update-card .update-card-content::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
    .update-card-notes-container {
        @include flex-center-start-column();
    align-items: center;
    max-height: 120px;
    width: 100%;
    .actual-notes {
        @include mixin.secondary-scrollbar();
        overflow-y: auto;
    }
    }
    .update-card-images-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        .update-image{
            width: 80px;
            border-radius: 5px;
        }
    }
    .info{
        margin: 3px 0 0 0;
        display: grid;
        grid-template-columns: 0.8fr 1fr 0.6fr;
        align-items: baseline;
    }
}

///////////////////////////      500 PX      ///////////////////////////

@media screen and (max-width: 500px) {
    .info{
        margin: 3px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 20px;
    }
}