@use '../../mixin.scss';

.page-container{
    @include mixin.page-container();
    flex-direction: column;
}

#plant-timeline-container{
    @include mixin.content-container();
}
.plant-options{
    display: flex;
    justify-content: space-between;
}

#plant-intro{
    width: 300px;
    display: flex;
    margin: 0 0 10px 0;
    .plant-logo{
       margin: 2px;
        width: 80px;
        border-radius: 10px;
    }
    #current-plant-details{
        margin: 5px;
        color: white;
    }
}
#plant-updates{
    display: flex;
    flex-direction: column;
    .update-card{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: white;
        width:100%;
        height: 180px;
        margin: 5px;
        border-radius: 10px;
        .card-property{
            margin: 5px;
        }
    }
}
.date-and-edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 10px;
}
.info{
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
.update-irrigation{
    margin: 5px;
}
.checked-logo{
    width: 15px;
}

#update-notes{
    width: 250px;
    height: 100px;
    overflow-y: scroll;
    min-height: 50px;
    font-size: small;
    color: black;
}

.update-images{
    .update-image{
        width: 100px;
    }
}
.select-current-plant{
    color: white;
}
select {
    min-width: 145px;
    border-radius: 5px;
    &:focus {
        outline: none;
    }
}