@use '../../mixin';
.identify-plant-container {
    background: mixin.$container-background-color;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.identify-plant-options{
    width: 95%;
    color: mixin.$dark-color;
    padding: 10px 0;
    border-radius: 10px; 
    @include mixin.shadow();
}
.identify-constraints, .page-subheader{
    line-height: 1.6;
    white-space: normal;
}
.identify-plant-text {
    padding: 20px 0 20px 30px;
}
.form-container{
    color: mixin.$dark-color;
    width: 95%;
    border-radius: 10px;
    padding: 0 0 20px 0;
    @include mixin.shadow();
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.identify-images-input-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.image-select-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.images-and-result {
    @include mixin.flexCenter();
    flex-wrap: wrap;
}

.identify-images-container {
    @include mixin.flexCenter();
    width: 100%;
    gap: 15px;
    padding: 10px 0;
    flex-wrap: wrap;
}
.image-to-identify {
    @include mixin.existing-image();
    cursor: pointer;
}
.identified-plant {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
    font-size: mixin.$font-size-sm;
}
.identified-plant-name {
    font-size: mixin.$font-size-md;
}
.selected-profile-image {
    @include mixin.existing-image();
    border: 5px solid  mixin.$dark-green-color;
    border-radius: 15px;
}
.identify-buttons-container {
    @include mixin.flexCenter();
    flex-wrap: wrap;
    gap: 0.4rem;
}
.footer-message{
    text-align: left;
    color: mixin.$dark-color;
    width: 85%;
    padding: 10px 0 10px 10px;
    font-size: mixin.$font-size-sm;
}

.a{
    color: mixin.$dark-color;
    text-decoration: underline;
    &:hover{
      color: mixin.$dark-green-color;
    }
}
//////////////////      R E S P O N S I V E      //////////////////
@media screen and (max-width: 800px) {

    .identify-plant-options {
        @include mixin.flexCenter();
        flex-direction: column;
        text-align: center;
    }
    .identified-plant {
        margin: 0 0 0 0px;
        font-size: mixin.$font-size-md;
    }

    .identify-constraints, .page-subheader{
        text-align: left;
    }
    .images-and-result {
        @include mixin.flexCenter();
        flex-wrap: wrap;
        width: 100%;
    }
    
}