@use '../../mixin' as mixin;

$side-padding: 20px;
$top-padding: 20px;
$active-color: pink;
$main-background-color: white;
.post-container {
    @include mixin.flexCenter();
    flex-direction: column;
    background: white;
    width: 60%;
    margin-top: 15px;
    border-radius: 0.5rem;
    border: solid 0.5px mixin.$gray-color;
}

.post-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: $top-padding 0 0 $side-padding;
}
.post-avatar {
    margin-right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.shop-name-time{
    display: flex;
}
.user-name {
    font-weight: 600;
}
.shop-name {
    color: royalblue;
}
.time {
    color: mixin.$gray-color;
    position: relative;
    margin: 0 5px 0 10px;
    &::before {
        content: '';
        position: absolute;
        left: -5px;
        top: 50%;
        background-color: mixin.$gray-color;
        width: 3px;
        height: 3px;
        border-radius: 50%;
    }
}
.post-text-container {
    width: 95%;
    padding: $top-padding $side-padding $top-padding $side-padding;
}
.images-background {
    background: $active-color;
    width: 100%;
    height: 100%
}
@mixin images-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 500px;
}
.single-image-container {
    @include images-container();
    justify-content: center;
}
.double-image-container {
    @include images-container();
    justify-content: space-between;

}
.post-image {
    width: auto;
    max-height: 500px;
}
.total-likes-comments-container{
    height: 40px;
    color: mixin.$gray-color;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.total-likes,
.total-comments {
    cursor: pointer;
    padding: 10px $side-padding 10px $side-padding;
}
.like-comment-buttons-container {
    height: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        background-color: mixin.$gray-color;
        width: 95%;
        height: 0.01rem;
        opacity: 0.7;
        border-radius: 99%
    }
}

@mixin like-comment-buttons {
    @include mixin.flexCenter();
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-size: mixin.$font-size-md;
    font-weight: 500;
}
.like-comment-buttons {
    @include like-comment-buttons();
    transition: all 0.3s
}
.like-comment-buttons-active {
    @include like-comment-buttons();
    color: mixin.$dark-green-color;
    stroke: mixin.$dark-green-color;
}

.add-comment-text-area {
    width: 95%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: $top-padding $side-padding;
    background-color: mixin.$light-color;
    resize: none;
    margin-bottom: 1rem;
}