* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
#root {
  height: 100%;
}

////////////////////////////    F O N T - S I Z E    //////////////////////////////////
$font-size-5xl: 40px;
$font-size-4xl: 36px;
$font-size-4xl: 32px;
$font-size-2xl: 28px;
$font-size-xl: 24px;
$font-size-lg: 20px;
$font-size-md: 16px;
$font-size-sm: 12px;
$font-size-xs: 8px;

////////////////////////////    F O N T - W E I G H T    //////////////////////////////////

$font-weight-lg: bolder;
$font-weight-md: 700;
$font-weight-sm: lighter;

////////////////////////////    C O L O R S    //////////////////////////////////

$gray-color: #c1c3c2;
$light-green-color: rgb(195, 237, 224);
$light-color: #f5f5f5;
$dark-color: #1b1b1b;
$dark-green-color: #007449;
$danger-color: rgb(190, 60, 60);

/////////////////////    M I S C E L L A N E O U S   ///////////////////////////

$page-container-min-height: calc(100% - 53px);

////////////////////////////    P O S T S    //////////////////////////////////

$posts-section-border-radius: 0.5rem;
@mixin post-profile-img {
  border-radius: 50%;
    width: 40px;
    height: 40px;
}
@mixin images-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-height: 500px;
}
////////////////////////////    M I X I N S    //////////////////////////////////

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@mixin transformTranslate50 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin shadow {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.45);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@mixin main-scrollbar {
  &::-webkit-scrollbar {
    width: 14px;               /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
  }
  &::-webkit-scrollbar-thumb {
    background-color: lightgray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid white;  /* creates padding around scroll thumb */
    &:hover {
      background: $dark-green-color;
    }
  }
}

@mixin checkboxRemoveToggle {
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  position: absolute;
  &:checked{
      background-color: rgb(190, 60, 60);
  }
  &:checked::before{
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  font-size: $font-size-sm;
  color: white;
  text-align: center;
  line-height: 18px;
  }
}

@mixin secondary-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: lightgray;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1px solid white;  /* creates padding around scroll thumb */
    &:hover {
      background: $dark-green-color;
    }
  }
}

@mixin existing-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

@mixin home-section-header {
  font-size: $font-size-4xl;
  font-weight: $font-weight-lg;
  margin: 40px 0;
}