html, body {
  height: 100%;}
#root {
  height: 100%;
}

$container-background-color: rgba(0, 0, 0, 0.3);
$desktop-2xl-font-size: 30px;
$desktop-xl-font-size: 28px;
$desktop-lg-font-size: 24px;
$desktop-md-font-size: 16px;
$desktop-sm-font-size: 12px;



@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@mixin container-background-color {
  background-color: rgba(0, 0, 0, 0.3);
}

@mixin main-scrollbar {
  &::-webkit-scrollbar {
    width: 14px;               /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
  }
  &::-webkit-scrollbar-thumb {
    background-color: lightgray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid white;  /* creates padding around scroll thumb */
    &:hover {
      background: rgb(0,150,0);
    }
  }
}
@mixin secondary-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: lightgray;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1px solid white;  /* creates padding around scroll thumb */
    &:hover {
      background: rgb(0,150,0);
    }
  }
}