@use '../../mixin.scss';
.form-container {
    @include mixin.flexCenter();
}
.form{
    text-align: center;
    max-height: 80%;
}
.form-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 15px 0;
    min-width: 400px;
}
.error-div{
    text-align: center;
    width: 100%;
    color: red;
    font-size: mixin.$desktop-md-font-size;
}
#notes-form-input {
    width: 100%;
    height: 100px;
    resize: none;
}
.form-header {
    font-size: mixin.$desktop-lg-font-size;
}
.form-subheader {
    font-size: mixin.$desktop-md-font-size;
}
.form-label {
    font-size: mixin.$desktop-md-font-size;
}
.image-select-container{
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: flex-start;
}
#image-crop-container {
    @include mixin.flexCenter();
}

.preview-image {
    max-width: 400px;
  }
  .form-file-input {
    width: min(250px, 45%);
}
.one-line-text-input {
    width: min(250px, 45%);
}
.file-upload-button{
    font-weight: 200;
  color: white;
  border: none;
  background: #007449;
  border-radius: 5px;
  height: 25px;
  min-width: 100px;
  margin: 5px;
  white-space: nowrap;
  &:hover {
    background-color: rgb(0, 90, 0);
    cursor: pointer;
  }
}
input[type="file"]{
    display: none;
}


//////////////////      R E S P O N S I V E      //////////////////
@media screen and (max-width: 800px) {
    .form {
        width: 90%;
    }
    .form-section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0 15px 0;
        min-width: 240px;
    }
    .preview-image {
        max-width: 250px;
      }
    .form-file-input {
        width: min(150px, 35%);
    }
    .one-line-text-input {
        width: min(250px, 35%);
    }
}