@use '../../mixin.scss';
.form-container {
    @include mixin.flexCenter();
}
.form{
    text-align: center;
    max-height: 80%;
    padding: 20px;
}
.form-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 15px 0;
    min-width: 400px;
}
.error-div{
    text-align: center;
    width: 100%;
    color: red;
    font-size: mixin.$font-size-md;
}
#notes-form-input {
    width: 100%;
    height: 100px;
    resize: none;
}
.form-header {
    font-size: mixin.$font-size-lg;
}
.form-subheader {
    font-size: mixin.$font-size-md;
}
.form-label {
    font-size: mixin.$font-size-md;
}
.image-select-container{
    display: flex;
    justify-content: flex-start;
}
#image-crop-container {
    @include mixin.flexCenter();
}

.preview-image {
    max-width: 400px;
  }
  .form-file-input {
    width: min(250px, 45%);
}
.one-line-text-input {
    width: min(250px, 45%);
}
.file-upload-button{
    font-weight: 200;
  color: white;
  border: none;
  background: #007449;
  border-radius: 5px;
  height: 25px;
  min-width: 100px;
  margin: 5px;
  white-space: nowrap;
  &:hover {
    background-color: rgb(0, 90, 0);
    cursor: pointer;
  }
}
input[type="file"]{
    display: none;
}

.plant-updates-images-container {
    @include mixin.flexCenter();
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.plant-update-edit-form-image {
    @include mixin.existing-image();
}

///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
//////////////////                               ///////////////////
//////////////////      R E S P O N S I V E      ///////////////////
//////////////////                               ///////////////////
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
@media screen and (max-width: 800px) {
    .form {
        width: 90%;
    }
    .form-section {
        flex-direction: column;
        gap:8px;
        margin: 15px 0 15px 0;
        min-width: 0px;
    }
    .form-label {
        margin-right: auto;
    }
    .preview-image {
        max-width: 250px;
      }
    .form-file-input {
        width: min(100px, 35%);
    }
    .one-line-text-input {
        width: 100%;
    }
    .error-div{
        font-size: mixin.$font-size-sm;
    }
}