@use '../../mixin.scss' as mixin;
@use '../Button/Button.scss' as button;

@mixin inputRules {
    border: none;
    outline: none;
    background-color: mixin.$light-color;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
}

.form-container {
    @include mixin.flexCenter();
}
.form{
    text-align: center;
    max-height: 80%;
    padding: 1rem 2rem;
    @include mixin.flexCenter();
    flex-direction: column;
}
.form-section {
    margin: 15px 0;
    width: 100%;
}
.form-section.buttons-container {
    @include mixin.flexCenter();
    gap: 1rem;
}
.form-section.one-liner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
}
.form-section.dir-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.error-div{
    text-align: center;
    width: 100%;
    color: red;
    font-size: mixin.$font-size-md;
}
#notes-form-input {
    width: 100%;
    height: 100px;
    resize: none;
    @include inputRules();
}
.form-header {
    font-size: mixin.$font-size-lg;
    font-weight: mixin.$font-weight-lg;
}
.form-subheader {
    font-size: mixin.$font-size-md;
}
.form-label {
    font-size: mixin.$font-size-md;
}
.image-select-container{
    display: flex;
    justify-content: flex-start;
}
.image-crop-container {
    @include mixin.flexCenter();
    position: relative;
}

.preview-image {
    max-width: 400px;
}
.cropper-controls {
    margin: 0.5rem 0 2rem 0;
}

//////////////////////////   S L I D E R   //////////////////////////
.cropper-slider {
    -webkit-appearance: none;
    appearance: none;
    background: mixin.$green-background-color;
    cursor: pointer;
    width: 10rem;
    border-radius: 10px;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;

    background-color: mixin.$dark-green-color;
    height: 1rem;
    width: 1rem;    
    border-radius: 50%;
 }
//////////////////////////////////////////////////////////////////////


.form-file-input {
    width: min(250px, 45%);
}
.one-line-text-input {
    width: min(250px, 45%);
    @include inputRules();
}
.large-file-upload-button{
    @include button.button-skeleton();
    background: mixin.$dark-green-color;
    gap: 0.3rem;
    &:hover {
        background-color: rgb(0, 90, 0);
        cursor: pointer;
    } 
}
.small-file-upload-button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 5px;
    @include mixin.flexCenter();
    transition: background-color 0.2s;
    &:hover {
        background-color: mixin.$gray-color;

    }
}
input[type="file"]{
    display: none;
}
input[type="date"] {
    @include inputRules();
}

.plant-updates-images-container {
    @include mixin.flexCenter();
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.plant-update-edit-form-image {
    @include mixin.existing-image();
}

///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
//////////////////                               ///////////////////
//////////////////      R E S P O N S I V E      ///////////////////
//////////////////                               ///////////////////
///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///  ///
@media screen and (max-width: 800px) {
    .form {
        width: 95%;
        padding: 1.4rem 0.2rem;
    }
    .form-section {
        flex-direction: column;
        gap:8px;
        min-width: 0px;
    }
    .form-section.one-liner {
        min-width: 0px;
    }
    .form-label {
        margin-right: auto;
    }
    .preview-image {
        max-width: 250px;
    }
    .form-file-input {
        width: min(100px, 35%);
    }
    .one-line-text-input {
        width: 100%;
    }
    .error-div{
        font-size: mixin.$font-size-sm;
    }
}